@font-face {
  font-family: Elianto;
  src: url(./Elianto-Regular.ttf) format("truetype");
}
@font-face {
  font-family: ClashGrotesk;
  src: url(./ClashGrotesk.ttf) format("truetype");
}

html,
body {
  padding: 0;
  height: 100%;
  margin: 0;
  font-family: Elianto, Arial, Helvetica, sans-serif;
  background-color: #150018 !important;
  background-image: url("../public/images/looper-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: difference;
  color: #fff;
  padding-bottom: 50px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  box-shadow: none !important;
  color: #fff !important;
}
.footerWrapper {
  margin-top: 50px;
  font-family: ClashGrotesk, Arial, Helvetica, sans-serif;
}

.form-control:disabled {
  background-color: black !important;
  color: #fff;
  border: 1px solid #fff;
}

.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.notification .dropdown-toggle::after {
  content: none;
}

.home .row {
  --bs-gutter-x: 0rem !important;
}

.cursor-pointer {
  cursor: pointer;
}

@media (max-width: 1280px) {
  body {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

@media (max-width: 768px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    /* background-attachment: fixed; */
    background-blend-mode: difference;
  }
  .footerWrapper {
    text-align: center;
  }
  .footerWrapper .links {
    margin: auto auto;
    width: fit-content;
  }
}
